<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="wxBriscola-Mazzi-HD-Dr_Francy" Language="1033" Version="1.0.0.0" Manufacturer="numeronesoft" UpgradeCode="1c4b1377-9057-467f-9349-186985e38d6c">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="Dr_Francy" Level="1">
			<ComponentRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="wxBriscola">
					<Directory Id="Mazzi" Name="Mazzi">
						<Directory Id="Dr_Francy" Name="Dr_Francy">
							<Component Id="ProductComponents" Guid="07CA3E51-3803-4FEB-9EC6-9DBBECB5DFA6" Win64='yes'>
								<File Id="a" Name="0.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\0.png" />
								<File Id="b" Name="1.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\1.png" />
								<File Id="c" Name="2.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\2.png" />
								<File Id="d" Name="3.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\3.png" />
								<File Id="e" Name="4.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\4.png" />
								<File Id="f" Name="5.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\5.png" />
								<File Id="g" Name="6.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\6.png" />
								<File Id="hh" Name="7.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\7.png" />
								<File Id="i" Name="8.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\8.png" />
								<File Id="j" Name="9.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\9.png" />
								<File Id="h" Name="10.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\10.png" />
								<File Id="k" Name="11.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\11.png" />
								<File Id="l" Name="12.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\12.png" />
								<File Id="m" Name="13.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\13.png" />
								<File Id="n" Name="14.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\14.png" />
								<File Id="o" Name="15.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\15.png" />
								<File Id="p" Name="16.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\16.png" />
								<File Id="q" Name="17.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\17.png" />
								<File Id="r" Name="18.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\18.png" />
								<File Id="s" Name="19.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\19.png" />
								<File Id="t" Name="20.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\20.png" />
								<File Id="u" Name="21.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\21.png" />
								<File Id="v" Name="22.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\22.png" />
								<File Id="w" Name="23.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\23.png" />
								<File Id="x" Name="24.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\24.png" />
								<File Id="y" Name="25.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\25.png" />
								<File Id="z" Name="26.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\26.png" />
								<File Id="aa" Name="27.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\27.png" />
								<File Id="ab" Name="28.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\28.png" />
								<File Id="ac" Name="29.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\29.png" />
								<File Id="ad" Name="30.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\30.png" />
								<File Id="ae" Name="31.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\31.png" />
								<File Id="af" Name="32.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\32.png" />
								<File Id="ag" Name="33.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\33.png" />
								<File Id="ah" Name="34.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\34.png" />
								<File Id="ai" Name="35.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\35.png" />
								<File Id="aj" Name="36.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\36.png" />
								<File Id="ak" Name="37.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\37.png" />
								<File Id="al" Name="38.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\38.png" />
								<File Id="am" Name="39.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\39.png" />
								<File Id="an" Name="retro carte pc.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\retro carte pc.png" />
								<File Id="ao" Name="retro carte mazzo.png" Source="c:\Users\numer\source\repos\wxBriscola\Dr Francy\Dr_Francy\retro carte mazzo.png" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

	</Fragment>

</Wix>
